#router > .route.dynamic-page {
    display: flex;

    box-sizing: border-box;

    padding: 8px;

    transition: padding-right 0.2s;
}

/* Root panels container */
#router > .route.dynamic-page > .root-panels-container {
    width: 100%;

    margin-right: 8px;
}

#router > .route.dynamic-page > .root-panels-container:nth-last-child(2) {
    margin-right: 0;
}

/* Panel placeholder */
#router > .route.dynamic-page .panel-placeholder {
    position: relative;

    /* Hidden state */
    opacity: 0;
    transform: scale(0.9) translateY(-25px);
    color: transparent;
    pointer-events: none;

    height: 200px;
    border-radius: 5px;

    transition: all 0.2s ease-in-out, color 0s;
}

#router > .route.dynamic-page.edit-mode .panel-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 1;
    transform: scale(1) translateY(0);
    pointer-events: all;

    /* Should be at least a height of draggable components drawer */
    /* TODO: @hack */
    margin-bottom: 140px;

    cursor: pointer;

    background-color: var(--color-blue2-background);
}

#router > .route.dynamic-page.edit-mode .panel-placeholder > .add-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    height: 40px;

    color: var(--color-blue2);
    font-size: 16px;

    transform: scale(1);

    border-radius: 50%;

    background-color: rgba(25, 25, 255, 0.15);

    transition: background-color 0.2s, transform 0.35s;
}

#router > .route.dynamic-page .panel-placeholder > .add-icon {
    /* Hiden state */
    transform: scale(0.7) translateY(-25px);
}

#router > .route.dynamic-page.edit-mode .panel-placeholder:hover > .add-icon {
    background-color: rgba(25, 25, 255, 0.25);
    transform: scale(1.1);
}

#router > .route.dynamic-page.edit-mode .panel-placeholder:hover {
    background-color: var(--color-blue2-background-hover);
}

/* Draggable Panel */
#router > .route.dynamic-page .draggable-panel {
    position: relative;

    user-select: none;

    padding: 12px;
    margin-bottom: 8px;

    font-size: 14px;

    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

    border-radius: 4px;

    transition: 0.2s;
}

#router > .route.dynamic-page.edit-mode .draggable-panel:not(.empty) {
    padding-top: 45px;
}

#router > .route.dynamic-page .draggable-panel.empty {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 140px;
}

#router > .route.dynamic-page .draggable-panel.empty > .center-text {
    color: hsl(0, 0%, 60%);
    font-size: 12px;
}

#router > .route.dynamic-page .draggable-panel > .panel-buttons {
    position: absolute;
    display: flex;

    top: 0;
    right: 0;

    margin: 8px;

    /* Hidden state */
    transform: translateY(-2px);
    opacity: 0;
    pointer-events: none;

    transition: 0.2s;
}

#router > .route.dynamic-page.edit-mode .draggable-panel > .panel-buttons {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

#router > .route.dynamic-page .draggable-panel > .panel-buttons > .button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 28px;
    height: 28px;

    margin-left: 6px;

    cursor: pointer;

    color: var(--color-blue);
    font-size: 13px;

    background-color: var(--color-blue-background);
    border-radius: 50%;

    transition: background-color 0.2s;
}

#router > .route.dynamic-page .draggable-panel > .panel-buttons > .button:hover {
    background-color: var(--color-blue-background-hover);
}

#router > .route.dynamic-page .draggable-panel > .panel-buttons > .button:active {
    transition: 0s;
    background-color: var(--color-blue-background-active);
}

#router > .route.dynamic-page .draggable-panel > .panel-buttons > .button.red {
    color: var(--color-red);
    background-color: var(--color-red-background);
}

#router > .route.dynamic-page .draggable-panel > .panel-buttons > .button.red:hover {
    background-color: var(--color-red-background-hover);
}

#router > .route.dynamic-page .draggable-panel > .panel-buttons > .button.red:active {
    transition: 0s;
    background-color: var(--color-red-background-active);
}

/* Draggable Components Drawer */
#router > .route.dynamic-page > .draggable-components-drawer {
    position: fixed;

    bottom: 0;
    right: 0;

    width: 100vw;

    border-top: 1px solid var(--color-gray90);

    background-color: white;

    /* Hidden state */
    transform: translateY(100%);
    pointer-events: none;

    transition: 0.2s;
}

#router > .route.dynamic-page.edit-mode > .draggable-components-drawer {
    transform: translateY(0);
    pointer-events: all;
}

#router > .route.dynamic-page > .draggable-components-drawer > .container {
    display: flex;

    padding: 6px 6px 18px 6px;
}

#router > .route.dynamic-page > .draggable-components-drawer > .container > .item {
    width: 140px;
    
    padding: 6px 8px;
    margin-right: 4px;

    cursor: grab;

    border-radius: 5px;

    transition: 0.2s;
}

#router > .route.dynamic-page > .draggable-components-drawer > .container > .item:hover {
    background-color: var(--color-gray95);
}

#router > .route.dynamic-page > .draggable-components-drawer > .container > .item > .component {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;

    pointer-events: none;
}

#router > .route.dynamic-page > .draggable-components-drawer > .container > .item > .component * {
    user-select: none;
}

#router > .route.dynamic-page > .draggable-components-drawer > .container > .item > .name {
    user-select: none;

    color: hsl(0, 0%, 50%);
    font-size: 13px;
}

#router > .route.dynamic-page > .draggable-components-drawer > .container > .item > .component > .components-container {
    height: 35px;
    width: 100px;

    background-color: var(--color-blue2-background);
    
    border: 2px dashed var(--color-blue2);
    border-radius: 5px;
}

#router > .route.dynamic-page > .draggable-components-drawer > .container > .item > .component > .components-container > div {
    width: 50%;
    height: 100%;

    margin-left: -1px;

    border-right: 2px dashed rgba(25, 25, 255, 0.35);
}
