/* Tooltip */
.ui-tooltip-container {
    position: relative;
    display: inline-block;
}

.ui-tooltip-container .ui-tooltip {
    position: absolute;

    /* TODO: @css I'm not sure why this doen't work */
    z-index: 5;

    bottom: 100%;
    left: 50%;

    min-width: 160px;
    max-width: 240px;

    pointer-events: none;
    opacity: 0;

    padding: 7px 8px;

    margin-left: -88px;
    margin-bottom: 10px;

    transform: translateY(10px);

    color: hsl(0, 0%, 20%);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;

    text-align: center;

    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    /* inset 0 0 0 1px hsl(0, 0%, 90%) */

    border-radius: 5px;

    transition: opacity 0.2s, transform 0.2s;
}

.ui-tooltip-container .ui-tooltip.bottom {
    margin-bottom: -75px;
}

.ui-tooltip-container:hover .ui-tooltip {
    pointer-events: all;
    opacity: 1;

    transform: translateY(0);
}

/* Draggable component */
.ui-draggable-component {
    margin: 10px 0;
}

/* first child */
.ui-draggable-component:first-child,
.ui-draggable-component:first-child > * {
    margin-top: 0;
}

/* last child (don't count panel buttons) */
.ui-draggable-component:nth-last-child(2),
.ui-draggable-component:nth-last-child(2) > * {
    margin-bottom: 0;
}

/* Input names */
.ui-input-name1 {
    margin-bottom: 3px;

    font-size: 13px;
    font-weight: 500;

    color: hsl(228, 25%, 40%);
}

.ui-input-with-name .ui-text {
    margin-top: 8px;
}

/* Input */
.ui-input1 {
    padding: 6px 10px;

    outline: none;
    border: none;

    background-color: white;
    border-radius: 4px;

    box-shadow: 0 0 0 1px var(--color-gray90);

    transition: 0.2s;
}

.ui-input1.invalid {
    box-shadow: 0 0 0 1px var(--color-red-lighter);
}

.ui-input1.monospace {
    padding: 6px 7px;
    font-family: monospace;
}

input.ui-input1::placeholder {
    color: hsl(0, 0%, 55%);
}

.ui-input1:focus {
    box-shadow: 0 0 0 1px var(--color-blue2), 0 2px 5px 0 hsl(240, 100%, 85%);
}

.ui-input1.invalid:focus {
    box-shadow: 0 0 0 1px var(--color-red), 0 2px 5px 0 hsl(8, 83%, 85%);
}

/* Button 1 */
.ui-button1 {
    position: relative;
    display: block;

    padding: 7px 15px;

    border: 0;
    outline: 0;

    user-select: none;
    cursor: pointer;

    text-decoration: none !important;
    text-transform: uppercase;

    color: white;

    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: "Roboto Mono", monospace;

    white-space: pre;

    background-color: var(--color-blue);

    border-radius: 5px;

    transition: 0.2s;
}

.ui-button1:hover {
    background-color: var(--color-blue2);
    box-shadow: 0 2px 5px 0 rgba(23, 68, 255, 0.35);
}

.ui-button1:focus {
    box-shadow: 0 0 0 3px rgba(23, 68, 255, 0.3);
}

.ui-button1.red:focus {
    box-shadow: 0 0 0 3px rgba(232, 32, 0, 0.4);
}

.ui-button1.red:active,
.ui-button1.big:active,
.ui-button1:active {
    transition: 0.1s;

    transform: translateY(1px);

    background-color: var(--color-blue-darker);
    box-shadow: 0 2px 10px 0 rgba(0, 23, 116, 0.35);
}

.ui-button2 > i,
.ui-button1 > i {
    margin-right: 6px;
}

.ui-button2 > i:last-child,
.ui-button1 > i:last-child {
    margin-right: 0;
}

.ui-button1.red {
    background-color: var(--color-red);
}

.ui-button1.red:hover {
    background-color: var(--color-red-lighter);
    box-shadow: 0 2px 5px 0 rgb(232, 32, 0, 0.35);
}

.ui-button1.red:active {
    background-color: var(--color-red-darker);
    box-shadow: 0 2px 10px 0 rgba(190, 27, 0, 0.35);
}

.ui-button1.big,
.ui-button1.bigger {
    padding: 9px 20px;
}

.ui-button1.big {
    font-size: 14px;
    letter-spacing: 1px;
}

.ui-button1.big:active {
    transform: translateY(2px);
}

.ui-button1.loading {
    transition-delay: 0.1s;

    color: transparent !important;
    pointer-events: none;

    background-color: hsl(0, 0%, 90%) !important;
    box-shadow: 0 0 0 transparent !important;
}

.ui-button1.loading > .loading-indicator {
    opacity: 0.80;
    transform: scale(1);
}

.ui-button1 > .loading-indicator {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 18px;
    height: 18px;

    margin: -9px 0 0 -9px;

    opacity: 0;
    transform: scale(0);

    background-image: url(./img/loading.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;

    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

/* Btn-1 types */
.ui-button1.outlined {
    color: var(--color-blue2);

    background-color: transparent;
    box-shadow: 0 0 0 1px var(--color-blue2);
}

.ui-button1.low-emp:hover,
.ui-button1.outlined:hover {
    background-color: var(--color-blue-background);
}

.ui-button1.outlined.red:active,
.ui-button1.outlined:active {
    transition: 0.1s;

    transform: none;

    background-color: var(--color-blue-background-active);
    box-shadow: 0 0 0 1px transparent;
}

.ui-button1.outlined.red {
    color: var(--color-red);
    box-shadow: 0 0 0 1px var(--color-red);
}

.ui-button1.low-emp.red:hover,
.ui-button1.outlined.red:hover {
    background-color: var(--color-red-background);
}

.ui-button1.low-emp:hover,
.ui-button1.low-emp.red:hover {
    box-shadow: none;
}

.ui-button1.low-emp.red:active,
.ui-button1.outlined.red:active {
    transition: 0.1s;

    background-color: var(--color-red-background-active);
    transform: none;
}

.ui-button1.low-emp {
    color: var(--color-blue);

    background-color: transparent;
}

.ui-button1.low-emp.red {
    color: var(--color-red);
}

/* Btn-2 types */
.ui-button2 {
    position: relative;
    display: block;
    box-sizing: border-box;

    padding: 8px 12px;

    border: none;
    outline: none;

    user-select: none;
    cursor: pointer;

    color: #41526E;

    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;

    white-space: pre;

    background-color: #F4F5F7;
    border-radius: 5px;

    transition: 0.2s;
}

.ui-button2.big {
    padding: 10px 16px;

    font-size: 14px;
}

.ui-button2:hover {
    background-color: #e2e6e9;
}

.ui-button2:active {
    transition: 0s;

    background-color: #F4F5F7;
}

.ui-button1.disabled,
.ui-button2.disabled {
    pointer-events: none;

    background-color: var(--color-gray-disabled);
}

/* Components Container (horizontal_container) */
.ui-ccontainer {
    display: flex;
    flex-wrap: wrap;

    /* TODO: @css maybe we should use `flex-end`, it looks nicer IMO */
    align-items: center;

    transition: background-color 0.2s;
}

.ui-ccontainer.drag-over {
    background-color: var(--color-blue-background);
}

.ui-ccontainer.space-between {
    justify-content: space-between;
}

.ui-ccontainer > * {
    margin: 0 8px 8px 0 !important;
}

#router > .route.dynamic-page.edit-mode .ui-ccontainer {
    padding: 10px 10px 2px 10px;

    border: 2px dashed var(--color-blue2);
    border-radius: 5px;
}

#router > .route.dynamic-page.edit-mode .ui-draggable-component:nth-last-child(2) .ui-ccontainer {
    margin-bottom: 20px;
}

#router > .route.dynamic-page.edit-mode .ui-ccontainer:empty {
    padding: 0;
    height: 40px;
}

/* Text */
.ui-text {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.ui-text > i:first-child {
    margin-right: 4px;
}

.ui-text.small {
    font-size: 11.5px;
}

.ui-text.gray {
    color: hsl(0, 0%, 60%);
}
